<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cortinapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CortinApp">
        <activity
            android:name=".DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.CortinApp.NoActionBar" />
        <activity
            android:name=".RegistrarArticulos"
            android:exported="false" />
        <activity
            android:name=".RegistrarVendedor"
            android:exported="false" />
        <activity
            android:name=".AgregarArticulos"
            android:exported="false" />
        <activity
            android:name=".RegistroAbono"
            android:exported="false" />
        <activity
            android:name=".RegistroVentas"
            android:exported="false"
            android:label="@string/registro_ventas"
            android:theme="@style/Theme.CortinApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>